*{ padding: 0; margin: 0}

.Heading{
	background-image: url("cupcakes.jpg");
	text-align: center;
	padding: 50px;
	font-family: AR JULIAN;
	font-size: 4rem;	
}

body{
	background-image: url("stripes1.jpg");
	
}