*{ padding: 0; margin: 0}

.head{
    padding: 10px;
	text-align: center;
	font-family: AR ESSENCE;
	font-size: 4rem;	
	background-image: url("persona.jpg");
	background-repeat: no-repeat;
}

body{
	background-image: url("orange-polka.jpg");
	overflow: hidden;
}
p{
	text-align: center;
}
.main{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	font-family: Helvetica;
	font-size: 24px;
}
.backButton{
	background-color: #FFCC33; 
}
.content {
	width: 100%;
	overflow: hidden;
}

.box{
	width: 15%;
	padding-top: 15%;
	float: left;
	margin: 50px;
}
.box-1{
	background-image: url("controller-256.png");
	background-repeat: no-repeat;

}
.box-2{
	background-image: url("youtube.png");
	background-repeat: no-repeat;
}
.box-3{
	background-image: url("youtube.png");
	background-repeat: no-repeat;
}
.box-4{
    background-image: url("cube.png");
    background-repeat: no-repeat;
}
.box-5{
    background-image: url("person.png");
    background-repeat: no-repeat;
}
.box-6{
	background-image: url("controller-256.png");
}